* {
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

:root {
  --body-bg: #dcdee2;
  --header-bg: #0d0d0d;
  --nav-bg: #252525;
  --white: #fff;
  --menu-bg: #252525;
  --black: #000;
  --orange: #fe4a22;
  --light-gray: #cccccc;
  --btn-gray: #f2f2f2;
  --yellow: #ffd026;
  --insights-bg: #f9f9f9;
  --gray-text: #9f9f9f;
  --green: #48c884;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--body-bg);
  scroll-behavior: inherit;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a:hover {
  color: #fe4a23 !important;
}

@keyframes animateMarquee {
  from {
    left: 0;
  }
  to {
    left: -853px;
  }
}

.split {
  transform: translateX(-100%);
}

.hidden {
  visibility: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in {
  opacity: 1;
}

.fade-in-side {
  transform: translate(0px, 0px) !important;
}
